 .navbar-style {
    background:rgba(0,0,0,0.6);
    font-family:Helvetica;
    border-width:0 0 0;
}
html,body{

    background-color: #F0f0f0;
    height: 100%;
    width:100%;
    margin: 0px;
    padding: 0px;

}

/*NAVBAR*/

.position-absolute {
    position: absolute;
}

.center-item {
    left: 50%;
    -moz-transform: translate(-50%,0)!important;
    -ms-transform: translate(-50%,0)!important;
    -webkit-transform: translate(-50%,0)!important;
    transform: translate(-50%,0)!important;
    display: block;
}
.center-item-t {
    left: 6%;
    -moz-transform: translate(-50%,0)!important;
    -ms-transform: translate(-50%,0)!important;
    -webkit-transform: translate(-50%,0)!important;
    transform: translate(-50%,0)!important;
    display: block;
}
.center-align {
    text-align: center;
}
.center-align-t {
    text-align: center;
    left: 50%
}
.pad-0 {
    padding: 0!important;
}

.custom-navbar {
    padding-top: 30px;
    padding-bottom: 60px;
}

.custom-navbar-t {
    padding-top: 30px;
    padding-bottom: 30px;
}

.custom-navbar a {
    font-size:18px;
    color: #38284c!important;
}

.custom-navbar-t a {
    font-size:18px;
    color: #38284c!important;
}
.custom-navbar .dropdown a {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.custom-navbar-t .dropdown a {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.custom-navbar .dropdown a:focus {
    background-color: rgba(230,230,230,0.8);
    text-decoration: none;
}
.custom-navbar-t .dropdown a:focus {
    background-color: rgba(230,230,230,0.8);
    text-decoration: none;
}

.custom-navbar .dropdown .dropdown-menu {
    padding: 0;
    background-color: rgba(230,230,230,0.8);
    border: none;
    text-align: center;
    margin: 0;
    min-width: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.custom-navbar-t .dropdown .dropdown-menu {
    padding: 0;
    background-color: rgba(230,230,230,0.8);
    border: none;
    text-align: center;
    margin: 0;
    min-width: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.custom-navbar .navbar-nav{
    font-family: "Helvetica";
}
.custom-navbar-t .navbar-nav{
    font-family: "Helvetica";
}
.custom-navbar .navbar-nav .nav-item .nav-link{
    padding-left: 0;
    padding-right: 0;
}
.custom-navbar-t .navbar-nav .nav-item-t .nav-link-t{
    padding-left: 30;
    padding-right: 30;
}
.custom-navbar .dropdown-toggle::after {
    display: none;
    content: none;
}

.custom-navbar .navbar-brand {
    margin-right: 0!important;
    top: 0;
    bottom: 0;
}
.custom-navbar-t .navbar-brand {
    margin-right: 0!important;
    top: 0;
    bottom: 0;
}
.bg-gradient {
    background-image: linear-gradient(#f5ebf6 , rgba(255,0,0,0));
}

.bg-t {
    background-image: linear-gradient(#f5ebf6 , rgba(255,255,255,255));
}
.custom-navbar .image-logo {
    width:150px;
    height:125px;
    padding-top :0px;
}

.custom-navbar-t .image-logo-t {
    width:100px;
    height:80px;
    padding-top :0px;
}

/*IMAGE*/

.image-container{
    width:100%;
    height: 900px;
    margin-bottom: 50px;
}
.image-container-t{
    width:100%;
    height: 800px;
    margin-bottom: 50px;
}
.image-container .img{
    width: 100%;
    height: 900px;
}


/*TABLE*/

.openings{
    font-size: 20px;
    width: 100%;
}
th, td {
  padding: 20px;
}


/*MIDDLE TEXT*/
.headings{
    font-size: 60px;
    color: #0186c1;
    font-weight: bold;
    text-align: center;
    padding-left: 35px;
}
.para{
    font-size: 25px;
    text-align: center;
}
 
.disci{
    font-size: 40px;
    color:  #0186c1;
    padding-left: 200px;
    font-weight: bold;
}

.list{
    text-align: justify;
    font-size: 18px;
    padding-left: 250px;
}
.details{
    font-size: 20px;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
}

.cont{
    font-size: 20px;
    padding-left: 200px;
}

.emp{
    font-size: 20px;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: justify;
}

.subhead{
    font-size: 35px;
    color: #0186c1;
    font-weight: bold;
    padding-left: 200px;
}
.our{
    font-size: 25px;
    color: #454545;
}

.middle-text .do-it-text .big-font{
    font-size: 40px;
    margin-bottom: 50px;
    color: #38284c;
}

.middle-text .do-it-text{
    color:#38284c;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
}

.dots {
  height: 15px;
  width: 15px;
  background-color: #0087bf;
  border-radius: 50%;
  display: inline-block;
}

.middle-text .welcome-text {
    color: #0186c1;
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 15px;
}

.middle-text .welcome-description {
    margin-bottom: 15px;
    width: 60%;
    font-size: 23px;
    left: 20%;
    position: relative;
}

/*CARDS*/

.cards{
    position: relative;
    width: 70%;
    margin-bottom: 50px;
}

.cards .card {
    height: 260px;
    border: none;
    border-radius: 10px;
}

.cards .background-tint {
        background-size: cover;
        }

.cards .card-title{
    font-size: 30px;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 0px;
}

/*BOTTOM TEXT*/

.bottom-text {
    margin-bottom: 50px;
}
.bottom-text .company{
    color: #2e2e2e;
    font-size: 42px;
}
.bottom-text .company-description{
    color: black;
    width:38%;
    left: 31%;
    position: relative;
    text-align: justify;
}

/*FOOTER*/

footer{

    clear:both;
    bottom:0px;
    width:100%;
    height:200px;
    background:#0087bf;

}
footer .row{
    padding:35px;
}

footer .footer-text p{
    font-size: 17px;
    color: white;
    font-weight: bold;
}
footer .footer-text a{
    font-size: 17px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer .footer-text .copyright{
    font-size: 17px;
    color: white;
    text-decoration: none;
}
footer .footer-text .logos{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}






@media (max-width: 1500px) {
    /*FOOTER*/

    .middle-text .welcome-text{
        font-size: 60px;

    }    
    .custom-navbar a {
    font-size:18px;
    }

    .bottom-text .company{
    font-size: 42px;
    }
    .bottom-text .company-description{
    left: 23%;
    width:55%;
    }
    footer{
        height:205px;
    }

    .custom-navbar .image-logo {
    width:150px;
    height:125px;
    padding-top: 0px;
}
}





@media (max-width: 1200px) {
    /*FOOTER*/
    .bottom-text .company-description{
    left: 15%;
    width:70%;
    }

    .middle-text .welcome-text{
        font-size: 40px;

    }   

    footer{
        height:200px;
    }

    .custom-navbar .image-logo {
    width:150px;
    height:125px;
    padding-top: 0px;
    }
}

@media (max-width: 992px) {
    /*FOOTER*/
    .bottom-text .company{
        font-size:32px; 

}

    .nonCollapsibleNavbar {
        display: none;
    }


    .bottom-text .company-description{
    left: 15%;
    width:74%;

}
    footer{
        height:225px;

    }

    .custom-navbar .image-logo {
    width:140px;
    height:115px;
    padding-top: 0px;
}
}






@media (max-width: 768px) {
    .bottom-text .company{
        font-size: 29px;
    }

   .bottom-text .company-description{
    left: 13%;
    width:74%;

}

    footer{
        display: none!important;
    }
}






@media (max-width: 500px) {
.bottom-text .company{
        font-size: 20px;
    }

}

@media (min-width: 992px) {

    #collapsibleNavbar {
        display: none!important;
    }

}